#createdby {
    margin-left: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.maintext {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

body {
    background-color: beige;
}

nav {
    margin-left: 40px;
}

article {
    margin-left: 40px;
}

header,
main,
footer {
    background-color: burlywood;
    max-width: 740px;
}

section {
    padding-top: 5px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
}

p {
    max-width: 660px;
}

img {
    max-width: 660px;
}

footer {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 25px;
}